@(header: Html = Html(""))(content: Html)(footer: Html = Html(""))(implicit requestHeader: RequestHeader, messages: Messages, pageMeta: PageMeta, wja: WebJarAssets)
<!DOCTYPE html>
<html lang="@messages.lang.code">
<head>
  <meta charset="UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="rex ardiente" content="">
  <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(wja.locate("bootstrap.min.css"))">
  @* JavaScripts.. *@
  <script src="@routes.WebJarAssets.at(wja.locate("jquery.min.js"))"></script>
  <script src='@routes.WebJarAssets.at(wja.locate("riot.min.js"))'></script>
  <script src='@routes.WebJarAssets.at(wja.locate("lodash.min.js"))'></script>
  <script src="@routes.WebJarAssets.at(wja.locate("bootstrap.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("bootstrap.min.js"))"></script>
  <script src="https://cdn.jsdelivr.net/riotgear/latest/rg.min.js"></script>

  @pageMeta.toHtml
  @header
</head>
<body>
  @content

  @footer
  <script src="@routes.Assets.at("scripts/app.js")"></script>
  <script src="@routes.Assets.at("scripts/main.js")"></script>
  <script src="@routes.Assets.at("scripts/helpers.js")"></script>
  <script>
    window = {
      classes: {},
      app: {}
    }
  </script>
</body>
</html>
